<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VerificationCodeBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A52B938C1F1F284400DBDE3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A52B93A51F1F284500DBDE3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A52B93B01F1F284500DBDE3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
